#container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    display: flex;
    width: 25%;
    padding: 1%;
    box-sizing: border-box;
}

#btn {
    display: flex;
}

button {
    margin: auto;
}