#container {
    border: .5px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    border: .5px solid black;
    display: flex;
    width: 50%;
    height: 5px;
    box-sizing: border-box;
}

#btn {
    display: flex;
}

button {
    margin: auto;
}